pip==21.0.1
ee
geocoder
ediblepickle
requests
gunicorn
jinja2
werkzeug
--use-feature=2020-resolver
Fiona==1.8.19
folium==0.12.1
geemap==0.8.14
geopandas==0.9.0
idna==2.10
pandas==1.1.5
requests==2.23.0
Shapely==1.7.1
voila==0.2.9
